# Ignore everything
*

# But not directories (Git needs this to recurse)
!*/

# Allow specific file types
!Makefile
!*.cpp
!*.h
!*.md
!*.mp3
!*.yml

# Explicitly allow index.h even though *.h already covers it
!index.h

